.custom-container {
  font-family: "Nunito Sans", sans-serif;
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  @media (max-width: 900px) {
    flex-direction: column;
  }

  &__left {
    background: linear-gradient(to right, #0072ff, #00c6ff);
    width: 40%;

    @media (max-width: 900px) {
      width: 100%;
    }
    .content {
      margin: 10rem 4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
      @media (max-width: 900px) {
        margin: 5rem 3rem;
      }
      h2 {
        color: #fff;
        font-size: 4.5rem;
        line-height: 1.3;
        display: inline-block;
        position: relative;
        margin: 0;
        padding: 0;
        &:after {
          content: "";
          position: absolute;
          width: 1rem;
          height: 1rem;
          border-radius: 50%;
          background-color: #fff;
          top: 20%;
          right: -10%;
        }
      }
      p {
        font-size: 1.6rem;
        color: #fff;
        line-height: 1.3;
        margin: 0;
        padding: 0;
        margin-top: 10px;
      }
    }
  }
  &__right {
    background-color: #fff;
    width: 60%;
    @media (max-width: 900px) {
      width: 100%;
    }
    .content {
      height: 100%;
      padding: 10rem 8rem;
      @media (max-width: 900px) {
        padding: 5rem 3rem;
        padding-left: 3rem;
      }
      .title {
        margin: 0;
        padding: 0;
        font-size: 2rem;
        line-height: 2.3;
        text-align: left;
        margin-bottom: 3rem;
        position: relative;
        &:after {
          width: 4rem;
          height: 3px;
          background-color: #333;
          position: absolute;
          content: "";
          bottom: 0;
          left: 0;
        }
      }
      .form-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
      }
      label {
        font-size: 14px;
        color: #aaa;
        text-transform: capitalize;
        margin-bottom: 10px;
      }
      .input_container {
        width: 100%;
        position: relative;
        svg {
          color: #aaa;
          position: absolute;
          left: 0;
          top: 0;
          transform: translateY(50%);
        }
        .hider {
          right: 5%;
          pointer-events: all;
          cursor: pointer;
          position: absolute;
          top: 0;
          transform: translateY(75%);
        }
      }
      .email,
      .password {
        height: 35px;
        border: 0px;
        border-bottom: 3px solid #aaa;
        color: #aaa;
        font-size: 1.6rem;
        width: 100%;
        outline: none;
        margin-bottom: 40px;
        padding-left: 40px;
        padding-bottom: 30px;

        &:focus {
          border: 0px;
          border-bottom: 3px solid #000;
          color: #000;
          outline: 0;
        }
      }
      .addition_text {
        color: #aaa;
        &:first-child {
          margin-bottom: 20px;
        }
        &:last-child {
          margin-bottom: 40px;
        }
        a {
          color: #333;
          font-weight: bold;
          text-decoration: none;
        }
      }
      .submit-btn {
        border: 3px solid #0072ff;
        background-color: transparent;
        color: #0072ff;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 1px;
        border-radius: 35rem;
        float: right;
        text-transform: uppercase;
        margin-right: 20px;
        margin-bottom: 40px;
        cursor: pointer;
        outline: none;
        transition: all 0.3s;
        &:hover {
          background-color: #0072ff;
          color: #fff;
        }

        @media (max-width: 900px) {
          // padding: 0.7rem 2rem;
          font-size: 14px;
          margin-right: 0;
          margin-bottom: 80px;
        }
      }
    }
  }
}

.custom-container-2 {
  margin: 60px auto;
  max-width: 30rem;
  box-shadow: 0 3px 10px 0 rgba(76, 82, 103, 0.1);
  padding: 60px;
  overflow: hidden;

  @media (max-width: 800px) {
    margin: auto;
    box-shadow: none;
  }

  form {
    .input_container {
      margin-top: 10px;
      margin-bottom: 40px;
    }
    label {
      color: #aaa;
    }
    input,
    select {
      border: 0px;
      background-color: transparent;
      border-bottom: 3px solid #aaa;
      border-radius: 0px;

      &:focus {
        border-color: #000;
      }
    }
    textarea {
      background-color: transparent;
      border: 3px solid #aaa;
      &:focus {
        border-color: #000;
      }
    }
    .radio_values {
      margin-bottom: 40px;
      display: flex;
      flex-direction: row;
      &-wrapper {
        &:not(:last-child) {
          margin-right: 20px;
        }
      }
    }

    .checkbox_values {
      margin-bottom: 40px;
      display: flex;
      flex-direction: row;
      &-wrapper {
        &:not(:last-child) {
          margin-right: 20px;
        }
      }
    }
  }
}

.btn-container {
  float: right;
  margin-bottom: 40px;

  button {
    text-transform: uppercase;
  }

  .cancel-btn {
    margin-right: 20px;
    border: 0px;
    background-color: transparent;
    color: #2672ff;
  }
  .submit-btn {
    border-radius: 50rem;
  }

  @media (max-width: 800px) {
    button {
      font-size: 14px;
    }
  }
}

.myactualstatus-form {
  .input_container {
    margin-top: 10px;
    margin-bottom: 40px;
  }
  label {
    color: #aaa;
  }
  input,
  select {
    border: 0px !important;
    background-color: transparent !important;
    border-bottom: 3px solid #aaa !important;
    border-radius: 0px !important;

    &:focus {
      border-color: #000;
    }
  }
  textarea {
    background-color: transparent;
    border: 3px solid #aaa;
    &:focus {
      border-color: #000;
    }
  }
  .radio_values {
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    &-wrapper {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  .checkbox_values {
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    &-wrapper {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}
