---
new_page_extension: md
auto_deploy: false
admin_path: static/admin
webhook_url: https://api.stackbit.com/project/5e8604566b9ee70012ee3ee4/webhook/forestry
sections:
- type: document
  path: src/pages/blog/index.md
  label: Blog
  templates:
  - blog
- type: directory
  path: src/pages/posts
  label: Post
  create: all
  match: "**/*"
  templates:
  - post
- type: directory
  path: src/pages
  label: Page
  create: all
  match: "**/*"
  exclude: "{posts/**,blog/index.md}"
  templates:
  - page
- type: document
  path: site-metadata.json
  label: Global Site Config
  templates:
  - config
upload_dir: static/images
public_path: "/images"
front_matter_path: ''
use_front_matter_path: false
file_template: ":filename:"
build:
  preview_output_directory: public
  install_dependencies_command: npm install
  preview_docker_image: node:10
  mount_path: "/srv"
  working_dir: "/srv"
  instant_preview_command: npm run develop
